<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zts.solutions</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>zts.solutions</MSDeployServiceURL>
    <DeployIisAppPath>ATC Portal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gboas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="True">
          <Destination Path="Data Source=ZTSTEST2;Initial Catalog=ATCPortalUsers;User ID=zts-adm;Password=@merinode123." Name="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=ATCPortalUsers; Data Source=ZTSTEST2" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=PEAKPERFORMANCE;Initial Catalog=ATCPortalUsers;User ID=zts-adm;Password=@merinode123." includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=ATCPortalUsers; Data Source=PEAKPERFORMANCE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=ZTSTEST2;Initial Catalog=ATCPortal;User ID=zts-adm;Password=@merinode123." Name="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=ATCPortal; Data Source=ZTSTEST2" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=PEAKPERFORMANCE;Initial Catalog=ATCPortal;User ID=zts-adm;Password=@merinode123." includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=ATCPortal; Data Source=PEAKPERFORMANCE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=secureapp.amerinode.com;Initial Catalog=Amerinode;User ID=sa;Password=sinai6156*" Name="User=sa; Pwd='sinai6156*';  Initial Catalog=Amerinode; Data Source=secureapp.amerinode.com" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PEAKPERFORMANCE;Initial Catalog=Amerinode;User ID=zts-adm;Password=@merinode123." includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=Amerinode; Data Source=PEAKPERFORMANCE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QConnection-Web.config Connection String">
      <ParameterValue>User=sa; Pwd='sinai6156*';  Initial Catalog=Amerinode; Data Source=secureapp.amerinode.com</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>User=zts-adm; Pwd='@merinode123.';  Initial Catalog=ATCPortalUsers; Data Source=ZTSTEST2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>User=zts-adm; Pwd='@merinode123.';  Initial Catalog=ATCPortal; Data Source=ZTSTEST2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>