<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://telefonica.amerinode.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>telefonica.amerinode.net</MSDeployServiceURL>
    <DeployIisAppPath>Telefonica Portal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gboas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationServices" Order="1" Enabled="False">
          <Destination Path="Data Source=ZTSTEST2;Initial Catalog=TelefonicaPortalUsers;User ID=zts-adm;Password=@merinode123." Name="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=TelefonicaPortalUsers; Data Source=ZTSTEST2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PEAKPERFORMANCE;Initial Catalog=TelefonicaPortalUsers;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Integrated Security=SSPI; Initial Catalog=TelefonicaPortalUsers; Data Source=PEAKPERFORMANCE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=ZTSTEST2;Initial Catalog=TelefonicaPortal;User ID=zts-adm;Password=@merinode123." Name="User=zts-adm; Pwd='@merinode123.'; Initial Catalog=TelefonicaPortal; Data Source=ZTSTEST2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PEAKPERFORMANCE;Initial Catalog=TelefonicaPortal;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Integrated Security=SSPI; Initial Catalog=TelefonicaPortal; Data Source=PEAKPERFORMANCE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>User=zts-adm; Pwd='@merinode123.'; Initial Catalog=TelefonicaPortalUsers; Data Source=ZTSTEST2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>User=zts-adm; Pwd='@merinode123.'; Initial Catalog=TelefonicaPortal; Data Source=ZTSTEST2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QConnection-Web.config Connection String">
      <ParameterValue>User=sa; Pwd='@merinode123.';  Initial Catalog=Amerinode; Data Source=secureapp.amerinode.com</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>